@model IEnumerable<OrkhanMammadali.Models.ViewModel.CVDocumentViewModel>

@{
    ViewData["Title"] = "CvDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CvDocument</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileURL)
            </td>
            <td>
                <a href="/CvDocument/Edit/@item.Id">Edit</a> |
                <a href="/CvDocument/Delete/@item.Id" onclick="return confirm('Seçdiyiniz sətr silinəcək. Silinən məlumatların geri qaytarılması mümkün deyil. \nSətiri yənədə silmək istəyirsinizmi?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
