@model IEnumerable<OrkhanMammadali.Models.ViewModel.ProfilViewModel>

@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profil</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pozition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="@item.LogoURL" target="_blank">
                    <img src="@item.LogoURL" alt="Alternate Text" style="width:150px" />
                </a>
            </td>
            <td>
                @Html.Raw(item.Pozition)
            </td>
            <td>
                <a href="/Profil/Edit/@item.Id">Edit</a> |
                <a href="/Profil/Delete/@item.Id" onclick="return confirm('Seçdiyiniz sətr silinəcək. Silinən məlumatların geri qaytarılması mümkün deyil. \nSətiri yənədə silmək istəyirsinizmi?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
